.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 25px;
}
.main > div {
  width: 47%;
  border: 1px solid;
  min-width: 400px;
  margin: 20px 10px;
  border: 0.3px solid #4040401f;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #8080801f;
  height: 450px;
}
@media (max-width: 380px) {
  .main > div {
    width: 90%;
    border: 1px solid;
    min-width: 300px;
    margin: 20px 10px;
    border: 0.3px solid #4040401f;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #8080801f;
  }
}
